{% extends 'dashboardAdmin_base.html' %}
{# Extends the 'dashboardUser_base.html' template #}

{% import "bootstrap/wtf.html" as wtf %}
{# Imports 'wtf.html' from the 'bootstrap' directory with an alias 'wtf' #}

{% block title %}
Organization Dashboard Page - Admin View
{% endblock %}
<link rel="stylesheet" href="../static/dashboard/dashboard.css">
{% block styles %}
  {{ super() }}
  {% endblock %}

  {% block content %}  
  <body>
    <main>
        <div>
            <h1>Organization Dashboard Page</h1>
            <p>Welcome back, User</p>
        <div class="containerDiv">
            <!-- QUESTIONS/NOTES -->
            <!-- Is a datalist functional enough for searching for recordings? -->

            <!-- Project Selector -->
            <section>
                <form>
                    <label for="projectsInput">Project</label>
                    <input list="projects" id="projectsInput">
                    <datalist id="projects">
                    </datalist>
                </form>
            </section>

            <!-- Recording Selector -->
            <section>
                <form>
                    <label for="recordingsInput">Recording</label>
                    <input list="recordings" id="recordingsInput" disabled>
                    <datalist id="recordings">
                    </datalist>
                </form>
            </section>
           
            <!-- Buttons to generate popups -->
            <section>
                <div>
                    <button type="submit" id="algorithm" value="Algorithm" onclick="runAlgorithm()" disabled>Run Algorithm</button>
                </div>
                <div>
                    <button type="submit" id="confusionMatrix" value="Confusion Matrix" disabled>View Confusion Matrix</button>
                </div>
                <div>
                    <button type="submit" id="rawData" value="Raw Data" disabled>View Raw Data</button>
                </div>
            </section>

            <!-- Checkboxes for pause selection -->
            <section>
                <div>
                    <label for="emotionalCheckbox">Emotional Pause</label>
                    <input type="checkbox" id="emotionalCheckbox" disabled checked>
                </div>
                <div>
                    <label for="invitationalCheckbox">Invitational Pause</label>
                    <input type="checkbox" id="invitationalCheckbox" disabled checked>
                </div>
                <div>
                    <label for="non-connectiveCheckbox">Non-Connective Pause</label>
                    <input type="checkbox" id="non-connectiveCheckbox" disabled checked>
                </div>

                <!-- Temporary styling for accuracy toggle -->
                <!-- Styling doesn't show disabled starting point... -->
                <div>
                    <label class="switch">
                        <input type="checkbox" id="accuracyToggle" checked disabled>
                        <span class="slider round"></span>
                      </label>
                      <label>View Accuracy</label>
                </div>
            </section>

            <!-- CSV Download -->
            <section>
                <div>
                    <button type="submit" id="downloadCSV" onclick="downloadToCSV()" disabled>Download CSV</button>
                </div>
            </section>

            
            <div id="modalBackground" class="modalBackground">
                <div id="modalPopup" class="modalPopup">
                    <span id="modalContent" class="modalContent"></span>
                </div>
            </div>
            
        </div>
        <div class="containerDiv">
            <!-- Graph -->
            <section>
                <canvas id="myCanvas" width="500" height="300" style="border:1px solid #000000;"></canvas>
            </section>
        </div>
    </div>
    </main>
    <script src="index.js"></script>
    <script src="../static/dashboard/dashboard.js"></script>
{% endblock content %}