{% extends 'homeAdmin_base.html' %}


{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
Home Page: User

{% endblock %}

{% block styles %}
  {{ super() }}
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/.css') }}"> -->

{% endblock %}

{% block content%}
<div class = "">
  <form action="{{ url_for('viewAllUsersAdmin')}}" method="post" onsubmit="return validateForm()">
    <input type="text" name="s_Name" class = "inputText" placeholder="Search..."><br>
    <button type="submit" class="save">Search</button>
  </form>
  </div>
{% for i in all_users %}
<h3>username:{{ i['name'] }}</h4>
<h3>email:{{ i['email'] }}</h4>
<h3>Insitute:{{ i['Institute'] }}</h4>
<h3>Projects:{{ i['projects'] }}</h4>
<h3>Status:{{ i['status'] }}</h4>


{% endfor %}
{% endblock %}