{% extends 'dashboardAdmin_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
HUA - Ground Truthing
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/static/styles/style.css?version={{ now }}"> 
{% endblock %}

{% block content %}
<main>
  <div class="page-container">
    <div class="upload-heading">
        <h3>Ground Truthing</h3>
    </div>
    <div class="top-row">

        <div class="left-column">
            <div class="left-stack">
                <!-- Recording Selector -->
                <section class="section-box">
                <form>
                    <label for="recordingsInput">Recording</label>
                    <input list="recordings" id="recordingsInput" disabled>
                    <datalist id="recordings"></datalist>
                </form>
                </section>
            
                <!-- Checkboxes for pause selection -->
                <section class="pause-section">
                    <section class="section-box">
                        <h3>Select Pause Type to View</h3>
                        <label><input type="checkbox" disabled checked> Emotional Pause</label>
                        <label><input type="checkbox" disabled checked> Invitational Pause</label>
                        <label><input type="checkbox" disabled checked> Non-Connective Pause</label>
                    </section>
                </section>
            </div>
        </div>

        <div class="canvas-wrapper">
            <canvas id="myCanvas"></canvas>
          </div>
    </div>

    <div class ="bottom-row">
        <section class="pause-section">
          <h3>Add New Pause</h3>
          <label><h4>Start</h4><input type="time"></label>
          <label><h4>to</h4><input type="time"></label>
          <label><input type="checkbox" disabled checked> Emotional Pause</label>
          <label><input type="checkbox" disabled checked> Invitational Pause</label>
          <label><input type="checkbox" disabled checked> Non-Connective Pause</label>
          <label><input type="checkbox" disabled checked> No Pause</label>
          <button type="submit" disabled>Add Update</button>
        </section>

        <section class="pause-section">
          <h3>Extend Pause</h3>
          <label><h4>Start</h4><input type="time"></label>
          <label><h4>to</h4><input type="time"></label>
          <h4>Edit Transcription:</h4>
        </section>

        <section class="pause-section">
          <h3>Ground Truthing Connection</h3>
          <label><h4>Start</h4><input type="time"></label>
          <label><h4>to</h4><input type="time"></label>
          <label><input type="checkbox" disabled checked> Emotional Pause</label>
          <label><input type="checkbox" disabled checked> Invitational Pause</label>
          <label><input type="checkbox" disabled checked> Non-Connective Pause</label>
          <label><input type="checkbox" disabled checked> No Pause</label>
          <button type="submit" disabled>Add Update</button>
        </section>
    </div>

      <button class="btn-save-update" type="submit" disabled>Save and Update Changes</button>
  </div>

  <div id="modalBackground" class="modalBackground">
    <div id="modalPopup" class="modalPopup">
      <span id="modalContent" class="modalContent"></span>
    </div>
  </div>
</main>
<script src="index.js"></script>
<script src="../static/dashboard/dashboard.js"></script>
{% endblock content %}
