{% extends 'dashboardAdmin_base.html' %}


{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
View all Projects

{% endblock %}

{% block styles %}
  {{ super() }}
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/.css') }}"> -->
{% endblock %}

{% block content %}
{% for i in all_groundTruth %}
<div class="table">
    <!-- Table of factors that include: ID, Order, Factor -->
    <table style="width: 100%">
      <!-- Table row for header-->
      <tr>
        
         
        <th>Modified By</th>
        <th>Date</th>    
      </tr>

      {% for sublist in all_groundTruth %}
      {% for record in sublist %}
          <tr>
              <td>{{ record['user'] }}</td>
              <td>{{ record['time'].strftime('%Y-%m-%d %H:%M:%S') }}</td>
          </tr>
      {% endfor %}
  {% endfor %}
    </table>
</div> 
{% endfor %}
{% endblock %}