{% extends 'homeAdmin_base.html' %}


{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
View all Projects

{% endblock %}

{% block styles %}
  {{ super() }}
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/.css') }}"> -->
{% endblock %}

{% block content %}
<div class = "">
    <h5>Create New Project</h5>
    <form action="{{ url_for('generateNewProject')}}" method="post" onsubmit="return validateForm()">
      <label for="p_Name"></label>
      <input type="text" name="p_Name" class = "inputText" placeholder="Project Name"><br>
      
      <button type="submit" class="save">Save</button>
    </form>
    </div>

{% endblock %}