{% extends 'dashboardPI_base.html' %}


{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
View all Projects

{% endblock %}

{% block styles %}
  {{ super() }}
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/.css') }}"> -->
{% endblock %}

{% block content %}
{% for i in all_groundTruth %}
<div class="table">
    <!-- Table of factors that include: ID, Order, Factor -->
    <table style="width: 100%">
      <!-- Table row for header-->
      <tr>
        
        <th>Project Name</th>    
        <th>Modified By</th>
        <th>Date</th>    
      </tr>

      {% for i in all_groundTruth %}
      <tr>
      
          
          {% for record in i['record'] %}
          <td>{{ i['project_name'] }}</td>
              <td>{{ record['updatedBy'] }}</td>
              <td>{{ record['Date'] }}</td>
         
      </tr>
      {% endfor %}
  
       
       
      
    {% endfor %}
    </table>
</div> 
{% endfor %}
{% endblock %}