{% extends 'homePI_base.html' %}


{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
Home Page: PI

{% endblock %}

{% block styles %}
  {{ super() }}
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/.css') }}"> -->
  <style>
    .modal-button{
        border: 2px dashed #ccc;
        padding: 20px;
        width: 250px;
        height: 200px;
        text-align: center;
        border-radius: 10px;
        font-size: 18px;
        margin-top: 100px;
        cursor: pointer;
    }
    .modal-button:hover{
        background-color: #f4f4f9;
    }

    .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);}

    .modal-content {
        background-color: white;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 300px;
        border-radius: 10px;
    }

</style>
{% endblock %}

{% block content%}
<h1>Welcome, User!</h1>
<h3>To access your dashboard and be able to upload audio files, you need to input to your project's access code</h3>
<div class="modal-button" id="openModal">Click to Enter Access Code</div>
<div id="access-code-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3>Enter Access Code</h3>
        <input type="text" id="accessCode" placeholder="Enter Access Code">
        <button class="submit-btn" id="submitCode">Submit</button>
    </div>
</div>
<div>
   
</div>
</body>
</html>


<script>
    var modal = document.getElementById("access-code-modal");
    var btn = document.getElementById("openModal");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function() {
        modal.style.display = "block";
    }
    span.onclick = function() {
        modal.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script>
{% endblock %}