{% extends 'dashboardPI_base.html' %}


{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
View all Projects

{% endblock %}

{% block styles %}
  {{ super() }}
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/.css') }}"> -->
{% endblock %}

{% block content%}
    <div class=" container justify-content-center mt-5">
        <h3>Upload Audio Files</h3>
        <form action="/upload_file" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="files" accept="audio/*" required /><br /><br />
            <input type="submit" value="Upload" class="btn btn-primary"/>
        </form>
        <p id = 'status'></p>
    </div>
</body>
</html>

<script>
    const form = document.querySelector('form');
    form.addEventListener('submit', function() {
        document.getElementById('status').innerText = 'successfully uploaded!';
    });
</script>
{% endblock %}