h1 {
    /* Note: use rem for font sizes and percentages for 
            general sizing to aid in responsive design. */
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
}

/* Styling for Access Code Button */
.modal-button{
    border: 0.2rem dashed #ccc;
    padding: 5%;
    width: 45%;
    height: 30%;
    text-align: center;
    border-radius: 1.25rem;
    font-size: 1.25rem;
    margin-top: 10%;
    cursor: pointer;
}
.modal-button:hover{
    background-color: #f4f4f9;
}
