.site-navbar {
    position: absolute;
    list-style-type: none !important;
    padding: 0;
    width: 100%;
}

.site-navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    display: flex;
    gap: 5%;
}

.site-navbar li {
    text-align: center;
    font-size: large;
}

.site-navbar a {
    display: block;
    color: black;
    /* font-weight: bold; */
    text-decoration: none;
    padding: 10px;
    transition: 0.4s;
}

.site-navbar a:hover {
    background-color: white; 
    text-decoration: underline;
}