/* General body styling */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white; 
    margin: 0;
    padding: 0;
}

/* Logo styling */
.login-logo {
    display: block;
    margin: auto;
    margin-top: 3%;
    max-width: 85%;
    height: auto;
}

/* Login Border */
.border-login {
    border-color: black; 
    border-width: 2px;
    border-style: solid;
}

/* Sign In Header */
.header-style {
    margin-bottom: 5%;
    text-decoration: underline;
}

/* Button Style */
.btn {
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    background-color: black;
    border-color: black;
    font-size: medium;
}

/* View Password Toggle Button */
.view-btn {
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #ced4da;
    box-shadow: none;
}

.view-btn:hover {
    background-color: #a9cafc;
}

/* Remove Toggle Button Border 
and Outline When Clicked */
.view-btn:focus, 
.view-btn:active {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

/* Hover Button Style */
.btn:hover {
    background-color: #1d63d1;
}

.login-links:hover {
    color: #1d63d1;
}

/* Header Styles */
header {
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 8rem;
    background-color: #a9cafc;
}

/* Logo Styling */
header .logo {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header .header-logo {
    max-height: 100%;
    width: auto;
    max-width: 70%;
}

/* Navbar Styling */
header .navbar {
    list-style: none;
    margin: 0 auto;
    align-items: center;
    flex: 1;
    justify-content: center;
    background-color: white;
    padding: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
}

header .navbar li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .navbar li:hover {
    text-decoration: underline;
}

header .navbar a {
    color: black;
    font-weight: bold;
}

.home-icon {
    width: 15%;
}