
{% block doc %}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
  {% block html %}

  <head>
    {% block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>
    

    {% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% endblock metas %}

    {% block styles %}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    
    {# Links to General Style CSS file #}
    <link rel="stylesheet" href="/static/styles/style.css?version={{ now }}">
    
    {# Links to a style CSS file with a dynamic version #}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navbar.css') }}">
    
    {# Sets the favicon for the page #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css?version={{ now }}">

    {% endblock styles %}
    
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/hua_icon.png') }}">

    <header>
      <!-- HUA Logo -->
      <div class="logo">
        <img src="/static/images/HUA-logo.png" class="header-logo" alt="HUA Logo"/>
      </div>

      <!-- ******************************************************************************************** -->
      <div class="slogan-header">
        <h1>Heard and Understood</h1>
        <h3> Quality Through Compassionate Conversations</h3>
      </div>
      <!-- ******************************************************************************************** -->
    </header>
  </head>
  {% endblock head %}

  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body %}
    {% block navbar %}
    <nav class="navbar">
      <ul class="navbar-menu">
        <li><a href="{{ url_for('homepage') }}"><i class="fas fa-home"></i>Home</a></li>
        <li><a href="{{ url_for('dashboard') }}"><i class="fas fa-chart-pie"></i>Dashboard</a></li>
        <li><a href="{{ url_for('upload') }}"><i class="fas fa-file-import"></i>Upload Audio Files</a></li>
        <!-- <li><a href="{{ url_for('view_files') }}"><i class="fas fa-search"></i>View Data</a></li> -->
        <li><a href="{{ url_for('ground_truthing') }}"><i class="fas fa-wrench"></i>Ground Truthing</a></li>
        <li><a href="{{ url_for('groundTruthUpdates') }}"><i class="fas fa-user-shield"></i>View Ground Truth Updates</a></li>
<!--
                   <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PI view <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                       <li><a href="{{ url_for('viewAllProjectsPI') }}">View all projects</a></li>
                       <li><a href="{{ url_for('groundTruthUpdates') }}">View Ground Truth Updates</a></li> -->
        </ul>
      </nav>

    {%- endblock navbar %}
    {% block content %}{%- endblock content %}

    {% block scripts %}
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    {# Links to jQuery script from Bootstrap CDN #}
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    {# Links to Bootstrap JS file from CDN #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    {% endblock scripts %}
    {%- endblock body %}
   
  </body>
  {% endblock html %}
</html>
{% endblock doc %}