<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View, Sort, and Delete Audio Files</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/hua_icon.png') }}">
</head>
<body>
    <div class="container mt-5">
        <h3>View, Sort, and Delete Audio Files</h3>
        
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>File ID</th>
                    <th>File Name</th>
                    <th>File Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <td>{{ file.id }}</td>
                    <td>{{ file.file_name }}</td>
                    <td>{{ file.file_type }}</td>
                 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>