
{% extends 'homeUser_base.html' %}


{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
Home Page: User

{% endblock %}

{% block styles %}
  {{ super() }}
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/.css') }}"> -->

{% endblock %}

{% block content%}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h2 class="text-center">Change Profile</h2>

            <!-- Flash message for invalid credentials -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}

            <form method="POST" action="/change-profile">
                <!-- Name input -->
                <div class="form-group">
                    <label for="formName">Name</label>
                    <input type="text" id="formName" name="name" class="form-control" placeholder="Jane Doe" required>
                </div>

                <!-- Email input -->
                <div class="form-group">
                    <label for="formEmail">Email address</label>
                    <input type="email" id="formEmail" name="email" class="form-control" placeholder="email.email@example.com" required>
                </div>
                
                <!-- Institution input -->
                <div class="form-group">
                    <label for="formPassword">Password</label>
                    <input type="password" id="formPassword" name="password" class="form-control" placeholder="Enter Password" required>
                </div>

                <!-- Submit button -->
                <!-- TODO: Push these new changes to the account in Firebase -->
                <button type="submit" class="btn btn-primary btn-block">Save Profile</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}