
{% block doc %}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
  {% block html %}

  <head>
    {% block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>
    

    {% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% endblock metas %}

    {% block styles %}
    {# Sets the favicon for the page #}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    {# Links to Bootstrap CSS file #}
    <link rel="stylesheet" href="/static/css/style.css?version={{ now }}">
    {# Links to a style CSS file with a dynamic version #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar-project.css') }}">
    {% endblock styles %}
    {% endblock head %}

    <header class="site-header">
      <!-- HUA Logo -->
      <div class="logo">
        <img src="/static/images/HUA-logo.png" class="header-logo" alt="HUA Logo"/>
      </div>
      
      <div class="container-fluid">
        <div class="row">
          <nav class= "site-navbar">
              <ul>
                <li> <a href="{{ url_for('homepage') }}">Home</a></li>
                <li> <a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li> <a href="{{ url_for('upload') }}">Upload</a></li>
                <li><a href="{{ url_for('view_files') }}">View Data</a></li>
                <li><a href="{{ url_for('ground_truthing') }}">Ground Truthing</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PI view <span class="caret"></span></a>
              <ul class="dropdown-menu">
              <li><a href="{{ url_for('viewAllProjectsPI') }}">View all projects</a></li>
              <li><a href="{{ url_for('groundTruthUpdates') }}">View Ground Truth Updates</a></li>
              </ul>
            </nav>
          </div>
        </div>
    </header>
  </head>

  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body %}
      <h3>PI</h3>
    {% block content %}
    {%endblock content %}

    {% block scripts %}
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    {# Links to jQuery script from Bootstrap CDN #}
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    {# Links to Bootstrap JS file from CDN #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    {% endblock scripts %}
    {% endblock body %}
   
  </body>
  {% endblock html %}
</html>
{% endblock doc %}