<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- General Style Sheet-->
    <link href="/static/styles/style.css" rel="stylesheet">

    <!-- Browser Tab Image -->
     <link href="/static/images/favicon.png" rel="icon">

    <!-- Homepage Style Sheet-->
    <link href="/static/styles/home-style.css" rel="stylesheet">

</head>
<body>
    <!-- Header Section -->
    <header>
        <!-- HUA Logo -->
        <div class="logo">
            <img src="/static/images/HUA-logo.png" class="header-logo" alt="HUA Logo"/>
        </div>

        <!-- Top Navbar -->
        <nav>
            <ul class="navbar">
                    <li>
                        <img src="/static/images/home.png" class="home-icon" alt="Home Icon"/>
                        <a href="/homepage">Home</a>
                    </li>
            </ul>
        </nav>

        <!-- 
                NEED TO MAKE NAVBAR AS COLUMN ON RIGHTHAND SIDE
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
        -->

    </header>

    <h1>Welcome, User!</h1>
    <h3>Enter a project access code to view the project’s dashboard and upload audio files. </h3>
    <!-- Centers access button -->
    <div class="d-flex justify-content-center align-items-center">
    <div class="modal-button" id="openModal">
        <img src="/static/images/add-icon.jpg" class="add-icon" alt="Enter Access Code"/>
        <h3>Click Here to Enter Project Access Code</h3>
    </div>
    </div>
    <div id="access-code-modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Enter Project Access Code</h3>
                <div class="close">&times;</div>
            </div>
            <div class="main-content">
                <p>You must have an access code to add a project to your profile.</p>
                <input type="text" id="accessCode"class="input" placeholder="Enter access code">
                <button class="submit" id="submitCode">Register</button>
                <!-- Add cancel button -->
            </div>
        </div>
    </div>
    <div>
        <div>
            <a href="{{ url_for('pi_access_request') }}">Request PI Access</a>
        </div>
    </div>
</body>
</html>

<script>
var modal = document.getElementById("access-code-modal");
var btn = document.getElementById("openModal");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>