<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    {{ super() }}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}"> -->
    {% endblock %}
    <title></title>
</head>
<body>
<nav>
    <a href="{{ url_for('index') }}">User</a>
     <a href="{{ url_for('index') }}">Profile</a>
     <a href="{{ url_for('index') }}">Projects</a>
      <a href="{{ url_for('index') }}">Log Out</a>
</nav>

<div class="content">
    <!-- Your page content goes here -->
    {% block content %}{% endblock %}
</div>

</body>
</html>