<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h3>Contact Admins</h3>
        <br />
        <div class="row align-items-start">
            <div class="col">
                <img src="{{ url_for('static', filename='images/Robert-E-Gramling-MD.jpg') }}" alt="Bob" width="70%">            </div>
            <div class="col">
                <h4>Robert Gramling</h4>
                <p>Phone: (802) 847-4848 (?)</p>
                <p>Email: robert.gramling@med.uvm.edu</p>
            </div>
        </div>
        <br />
        <div class="row align-items-start">
            <div class="col">
                <img src="{{ url_for('static', filename='images/donna.jpg') }}" alt="Donna" width="70%">           
            </div>
            <div class="col">
                <h4>Donna Rizzo</h4>
                <p>Phone: (802)-656-1495 (?)</p>
                <p>Email: drizzo@uvm.edu</p>
            </div>
        </div>
    </div>
    
</body>
</html>