{% extends 'homePI_base.html' %}


{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
Home Page: User

{% endblock %}

{% block styles %}
  {{ super() }}
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/.css') }}"> -->

{% endblock %}

{% block content%}
<div class="container mt-5">
    <h3>Contact Admins</h3>
    <br />
    <div class="row align-items-start">
        <div class="col">
            <img src="{{ url_for('static', filename='images/Robert-E-Gramling-MD.jpg') }}" alt="Bob" width="70%">            </div>
        <div class="col">
            <h4>Robert Gramling</h4>
            <p>Phone: (802) 847-4848 (?)</p>
            <p>Email: robert.gramling@med.uvm.edu</p>
        </div>
    </div>
    <br />
    <div class="row align-items-start">
        <div class="col">
            <img src="{{ url_for('static', filename='images/donna.jpg') }}" alt="Donna" width="70%">           
        </div>
        <div class="col">
            <h4>Donna Rizzo</h4>
            <p>Phone: (802)-656-1495 (?)</p>
            <p>Email: drizzo@uvm.edu</p>
        </div>
    </div>
</div>


{% endblock %}
