{% extends 'dashboardUser_base.html' %}


{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
View all Projects

{% endblock %}

{% block styles %}
  {{ super() }}
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/.css') }}"> -->
{% endblock %}

{% block content %}
{% for i in all_groundTruth %}
<div class="container mt-5">
    <h3>View, Sort, and Delete Audio Files</h3>
    
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>File ID</th>
                <th>File Name</th>
                <th>File Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td>{{ file.id }}</td>
                <td>{{ file.file_name }}</td>
                <td>{{ file.file_type }}</td>
             
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
{% endblock %}