{% extends 'dashboardUser_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
HUA - Ground Truthing
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/static/styles/style.css?version={{ now }}"> 

{% endblock %}

{% block content %}
<main>
  <div class="page-container">
    <h1>Ground Truthing</h1>
    <div class="containerDiv">

        <div class="top-row">
            <section style="flex: 1">
              <h3>Import Recording</h3>
              <div class="upload-container-gt">
                <form action="/csv_upload" method="post" enctype="multipart/form-data">
                  <div class="upload-group mb-3">
                    <input type="file" name="file" accept=".csv" required />
                  </div>
                  <div class="center">
                    <input type="submit" value="Upload CSV" class="btn-upload"/>
                  </div>
                </form>
                <p id="status"></p>
              </div>
          
              <div class="view-pause">
                <h3>Select Pause Type to View</h3>
                <div>
                    <input type="checkbox" id="emotionalCheckbox">
                    <label for="emotionalCheckbox">Emotional Pause</label>
                </div>
                <div>
                    <input type="checkbox" id="invitationalCheckbox">
                    <label for="invitationalCheckbox">Invitational Pause</label>
                </div>
                <div>
                    <input type="checkbox" id="non-connectiveCheckbox">
                    <label for="non-connectiveCheckbox">Non-Connective Pause</label>
                </div>
            </div>
        </section>
          
        <section style="flex: 2">
            <canvas id="myCanvas"></canvas>
        </section>
        </div>
          

      <div class="bottom-row">
        <section style="flex: 1">
            <form method="POST" action="/add_new_pause" style="display: flex; flex-direction: column; align-items: center;">
              <h3>Add New Pause:</h3>
          
              <div style="display: flex; flex-direction: column; width: 100%; max-width: 300px;">
                <div style="display: flex; align-items: center; gap: 0.5rem;">
                  <label><h4>Start</h4></label>
                  <input type="number" name="startTime" step="0.1" required>
                  <label><h4>to</h4></label>
                  <input type="number" name="endTime" step="0.1" required>
                </div>
          
                <div>
                  <input type="radio" name="new-pause-type" value="emotional" required>
                  <label>Emotional Pause</label>
                </div>
                <div>
                  <input type="radio" name="new-pause-type" value="invitational" required>
                  <label>Invitational Pause</label>
                </div>
                <div>
                  <input type="radio" name="new-pause-type" value="non-connectional" required>
                  <label>Non-Connective Pause</label>
                </div>
          
                <label><h4>Transcription:</h4></label>
                <input type="text" name="transcription" id="transcription" required>
              </div>
          
              <div class="center">
                <button class="btn-algorithm" type="submit" id="new-pause" value="update">Add New Pause</button>
              </div>
            </form>
          </section>          

        <section style="flex: 1">
            <form method="POST" action="/extend_clip" style="display: flex; flex-direction: column; align-items: center;">
              <h3>Modify Pause:</h3>
              
              <div style="display: flex; flex-direction: column; width: 100%; max-width: 300px;">
                <label><h4>Pause is at</h4></label>
                <input type="number" name="pauseAt" id="pauseAt" step="0.1" required>
          
                <label><h4>New Start Time</h4></label>
                <input type="number" name="modifyStartTime" id="modifyStartTime" step="0.1">
          
                <label><h4>New End Time</h4></label>
                <input type="number" name="modifyEndTime" id="modifyEndTime" step="0.1">
          
                <label><h4>Edit Transcription:</h4></label>
                <input type="text" name="editTranscription" id="editTranscription">
          
                <label><h4>Modify Pause Type:</h4></label>
                <div>
                  <input type="radio" name="modify-pause-type" value="emotional">
                  <label>Emotional Pause</label>
                </div>
                <div>
                  <input type="radio" name="modify-pause-type" value="invitational">
                  <label>Invitational Pause</label>
                </div>
                <div>
                  <input type="radio" name="modify-pause-type" value="non-connectional">
                  <label>Non-Connective Pause</label>
                </div>
              </div>
          
              <div class="center">
                <button class="btn-algorithm" type="submit" name="pause-at" id="pause-at" value="update">Modify Length</button>
              </div>
            </form>
          </section>
          

        <section style="flex: 1">
          <form method="POST" action="/delete_pause">
            <h3>Delete Pause:</h3>
            <div class="center">
                <input type="number" name="pauseAtDelete" id="pauseAtDelete" required>
            </div>
            <div class="center">
              <button class="btn-algorithm" type="submit" id="delete-pause" value="update">Delete This Pause</button>
            </div>
          </form>
        </section>
      </div>

        <div class="center">
            <form method="POST" action="/save_changes">
            <button class="btn-save-update" type="submit" id="update" value="update">Save and Update Changes</button>
            </form>
        </div>

      <div id="modalBackground" class="modalBackground">
        <div id="modalPopup" class="modalPopup">
          <span id="modalContent" class="modalContent"></span>
        </div>
      </div>

    </div>
  </div>
</main>
{% endblock %}