<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ground Truthing Page</title>
    <link rel="stylesheet" href="../static/dashboard/dashboard.css">
  </head>

  <body>
    <main>
        <div>
            <h1>Ground Truthing Page</h1>
            <p>Welcome back, User</p>
        <div class="containerDiv">
        
            <!-- Recording Selector -->
            <section>
                <h3>Import Recording</h3>
                <form action="/csv_upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" accept=".csv" required />
                    <input type="submit" value="Upload CSV" class="btn btn-primary" />
                </form>
                <p id="status"></p>
            </section>
           
            <!-- Checkboxes for pause selection -->
            <section>
                <h3>Select Pause type to view:</h3>
                <div>
                    <label for="emotionalCheckbox">Emotional Pause</label>
                    <input type="checkbox" id="emotionalCheckbox">
                </div>
                <div>
                    <label for="invitationalCheckbox">Invitational Pause</label>
                    <input type="checkbox" id="invitationalCheckbox">
                </div>
                <div>
                    <label for="non-connectiveCheckbox">Non-Connective Pause</label>
                    <input type="checkbox" value="non-connectiveCheckbox">
                </div>

                <div class="containerDiv">
                    <!-- Graph -->
                    <section>
                        <canvas id="myCanvas" width="500" height="300" style="border:1px solid #000000;"></canvas>
                    </section>
                </div>
            </section>

             <!-- Add new Pause -->
            <section>
                <form method="POST" action="/add_new_pause">
                <h3>Add new pause:</h3>
                <div>
                    <label for="startTime">
                        <h4>Start</h4>
                    </label>
                    <input type="number" name="startTime" step = "0.1" required>
    
                    <label for="endTime">
                        <h4>to</h4>
                    </label>
                    <input type="number" name="endTime" step = "0.1" required>
                </div>

                <div>
                    <label for="emotional">Emotional Pause</label>
                    <input type="radio" name = "new-pause-type" value="emotional" required>
                </div>
                <div>
                    <label for="invitational">Invitational Pause</label>
                    <input type="radio" name = "new-pause-type" value="invitational" required>
                </div>
                <div>
                    <label for="non-connective">Non-Connective Pause</label>
                    <input type="radio" name = "new-pause-type" value="non-connectional" required>
                </div>

                <label for="editTranscription">
                    <h4>Transcription:</h4>
                </label>
            
                <input type="text" name="transcription" id = "transcription" required>

                <div>
                    <button type="submit" id = "new-pause" value="update"> Add new pause</button>
                </div>
            </form>
            </section>

              <!-- Modify a pause (length or transcription) -->
            <section>
            <form method="POST" action="/extend_clip">
                <h3>Modify pause:</h3>
             <div>
                <label for="pauseAt">
                    <h4>Pause is at</h4>
                </label>
                <input type="number" name="pauseAt" id="pauseAt" step = "0.1" required>

                <div>
                    <label for="startTime">
                        <h4>New Start Time</h4>
                    </label>
                    <input type="number" name="modifyStartTime" id="modifyStartTime" step = "0.1">
    
                    <label for="endTime">
                        <h4>New End Time</h4>
                    </label>
                    <input type="number" name="modifyEndTime" id="modifyEndTime" step = "0.1">
                </div>

                

                <label for="editTranscription">
                    <h4>Edit Transcription:</h4>
                </label>
                
                <input type="text" name="editTranscription" id="editTranscription">

                <label for="modify-pause-type">
                    <h4>Modify pause type:</h4>
                </label>
                <div>
                    <label for="emotional">Emotional Pause</label>
                    <input type="radio" name = "modify-pause-type" value="emotional">
                </div>
                <div>
                    <label for="invitational">Invitational Pause</label>
                    <input type="radio" name = "modify-pause-type" value="invitational">
                </div>
                <div>
                    <label for="non-connective">Non-Connective Pause</label>
                    <input type="radio" name = "modify-pause-type" value="non-connectional">
                </div>
                
                <div>
                    <button type="submit" name="pause-at" id="pause-at" value="update">Modify length</button>
                </div>
            </form>
        </section>

        <!-- Delete Pause -->
        <section>
            <form method = "POST" action = "/delete_pause">
            <div>
                <div>
                    <label for="pauseAtDelete">
                        <h3>Delete pause:</h3>
                    </label>
                </div>
                
                <input type="number" name="pauseAtDelete" id="pauseAtDelete" required>

                <div>
                    <button type="submit" id="delete-pause" value="update"> Delete this pause</button>
                </div>
            </div>
            </form>
            </section>

            <div>
                <form method = "POST" action = "/save_changes">
                    <button type="submit" id="update" value="update"> Save and update changes</button>
                </form>
            </div>
       
            <div id="modalBackground" class="modalBackground">
                <div id="modalPopup" class="modalPopup">
                    <span id="modalContent" class="modalContent"></span>
                </div>
            </div>
            
        </div>
    </div>
      
    </div>

</main>
<!-- <script src="index.js"></script> -->
<script src="../static/dashboard/dashboard.js"></script>
</body>
</html>