{% extends 'dashboardUser_base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
HUA - Upload Audio Files
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/static/styles/style.css?version={{ now }}">  
{% endblock %}

{% block content %}
<h1>Upload Audio Files</h1>
<div class="upload-page-wrapper">
    <div class="upload-container">
        <form action="/upload_file" method="post" enctype="multipart/form-data">
            <div class="upload-group mb-3">
                <input type="file" name="file" id="files" accept="audio/*" required class="form-control"/>
            </div>
            <div class="center-btn">
                <input type="submit" value="Upload" class="btn-upload"/>
            </div>
        </form>
        <p id="status" class="text-success status-message"></p>
    </div>
</div>

<script>
    const form = document.querySelector('form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        document.getElementById('status').innerText = 'Successfully uploaded!';
        setTimeout(() => form.submit(), 1000);
    });
</script>
{% endblock %}