{% extends 'homePI_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
HUA - Contact Admins
{% endblock %}

{% block styles %}
{{ super() }}

{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1>Contact Admins</h1>
  <br/>

  <div class="row contact-row">
    <div class="col-md-4 text-center">
      <img src="{{ url_for('static', filename='images/Robert-E-Gramling-MD.jpg') }}" alt="Bob Gramling" class="contact-img" />
    </div>
    <div class="col-md-8 contact-text">
      <h3><b>Robert Gramling</b></h3>
      <p><b>Phone:</b> (802) 847-4848</p>
      <p><b>Email:</b> robert.gramling@med.uvm.edu</p>
    </div>
  </div>

  <div class="row contact-row">
    <div class="col-md-4 text-center">
      <img src="{{ url_for('static', filename='images/donna.jpg') }}" alt="Donna Rizzo" class="contact-img" />
    </div>
    <div class="col-md-8 contact-text">
      <h3><b>Donna Rizzo</b></h3>
      <p><b>Phone:</b> (802)-656-1495</p>
      <p><b>Email:</b> drizzo@uvm.edu</p>
    </div>
  </div>
</div>
{% endblock %}