{% extends 'homePI_base.html' %}


{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
HUA - Contact Admins

{% endblock %}

{% block styles %}
  {{ super() }}
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/.css') }}"> -->

{% endblock %}

{% block content%}
<div class="container mt-5">
    <h3>Contact Admins</h3>
    <br/>
    <div class="row align-items-start">
        <div class="col">
            <img src="{{ url_for('static', filename='images/Robert-E-Gramling-MD.jpg') }}" alt="Bob Gramling" width="20%">            </div>
        <div class="col">
            <h3><b>Robert Gramling</b></h3>
            <p><b>Phone:</b> (802) 847-4848</p>
            <p><b>Email:</b> robert.gramling@med.uvm.edu</p>
        </div>
    </div>
    <br />
    <div class="row align-items-start">
        <div class="col">
            <img src="{{ url_for('static', filename='images/donna.jpg') }}" alt="Donna Rizzo" width="20%">           
        </div>
        <div class="col">
            <h3><b>Donna Rizzo</b></h3>
            <p><b>Phone:</b> (802)-656-1495</p>
            <p><b>Email:</b> drizzo@uvm.edu</p>
        </div>
    </div>
</div>
{% endblock %}