{% extends 'homeAdmin_base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
HUA - View All Projects
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/static/styles/style.css?version={{ now }}"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css?version={{ now }}"> 
{% endblock %}

{% block content %}
<div class="form-group">
  <div class="input-group mb-4">
      <input type="text" id="searchInput" name="s_Name" class="form-control" placeholder="Search ..." required>
      <div class="input-group-append">
          <button type="submit" class="btn btn-search">
              <i class="fas fa-search"></i>
          </button>
      </div>
  </div>
</div>

{% for i in all_project %}
  <div class="user-card mb-3">
    <p><strong>Project Name:</strong> {{ i['project_name'] }}</p>
    <p><strong>Access Code:</strong> {{ i['access_code'] }}</p>
    <p><strong>Number of Members:</strong> {{ i['project_members'] | length }}</p>
    <p><strong>Members:</strong> {{ i['project_members'] }}</p>
    <div class="mt-2">
      <a href="/generateNewCode/{{ i.projectName }}" class="btn-user-card btn-sm btn-search">Generate New Code</a>
      <a href="/deleteProject/{{ i.projectName }}" class="btn-user-card btn-sm btn-search">Delete Project</a>
    </div>
  </div>
{% endfor %}
{% endblock %}